@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

$white: #fff;
$gray: #fafafa;
$border-radius: 5px;
$outline: 0 0 0 1px #808080;

$input: #f8f8f8;
$green: #6ab16a;
$green-hover: #428842;
$grey: #808080;
$grey-hover: #646464;

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

  &::before,
  &::after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }

  &:focus {
    outline: none;
    border-radius: 5px;
  }
}

html {
  font-size: 100%;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: $gray;
}

// Sidebar
aside {
  width: 20%;
  height: 100vh;
  position: fixed;
  top: 0;
  right: 0;
  padding: 1.5em;
  background-color: $white;
  box-shadow: $outline;
}

input {
  height: 1.5em;
  margin: 0.3em;
  border: none;
  border-radius: $border-radius;
  box-shadow: $outline;
  background-color: $white;
  font-family: "Roboto", sans-serif;
}

button {
  padding: 0.3em 1em;
  width: 100%;
  color: $white;
  background-color: #77b377;
  border-radius: 0.3em;
  border: none;
  font-size: 0.875em;
  border: 1px solid #00000033;

  &:hover {
    background-color: #5f9f5f;
  }
}

.switch {
  display: flex;
  margin-bottom: 2.25em;
  overflow: hidden;

  input {
    position: absolute !important;
    clip: rect(0, 0, 0, 0);
    height: 0.0625em;
    width: 0.0625em;
    border: 0;
    overflow: hidden;
  }

  label {
    background-color: #e4e4e4;
    color: #00000099;
    font-size: 0.875em;
    font-family: "Roboto", sans-serif;
    line-height: 1;
    text-align: center;
    padding: 5px 15px;
    margin-right: -1px;
    border: 1px solid #00000033;
    transition: all 0.1s ease-in-out;
    width: 100%;

    &:hover {
      cursor: pointer;

      &:hover {
        background-color: #cccccc;
      }
    }
  }

  input:checked+label {
    background-color: #77b377;
    color: white;

    &:hover {
      background-color: #5f9f5f;
    }
  }

  label:first-of-type {
    border-radius: 4px 0 0 4px;
  }

  label:last-of-type {
    border-radius: 0 4px 4px 0;
  }
}

// Invoice
main {
  width: 80%;
  padding: 4em 0;
}

#invoice {
  width: 210mm;
  height: 297mm;
  margin: auto;
  padding: 2.5cm;
  background-color: $white;
  box-shadow: $outline;

  header {
    gap: 10pt;
    width: 70%;
    display: inline-flex;
    align-items: center;
  }
}

.line {
  width: 100%;
  height: 1mm;
  margin: 10pt 0;
  background-color: #000;
  -webkit-print-color-adjust: exact;
}

.row {
  width: 100%;
  display: inline-block;
  margin: 5pt 0;
  font-size: 0;
}

.col {
  width: 50%;
  display: inline-block;
  vertical-align: top;

  p {
    font-size: 12pt;
  }

  h1 {
    font-size: 24pt;
  }

  h2 {
    font-size: 18pt;
  }

  h3 {
    font-size: 14pt;
  }
}

#payment {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: auto 110pt;
}

#qr img {
    width: 110pt;
    aspect-ratio: 1;
}

[data-invoice="number"] {
  width: 50px;
  height: 35px;
  padding: 10px;
  margin: 25px;
  text-align: center;

  -webkit-appearance: none;
  margin: 0;
  -moz-appearance: textfield;
}

[data-invoice="due"] {
  width: 125px;
  height: 35px;
  padding: 10px;
  margin: 25px;
  text-align: center;

  -webkit-appearance: none;
  margin: 0;
  -moz-appearance: textfield;
}

// Help
#help {
  height: 50px;
  width: 50px;
  color: white;
  font-size: 30px;
  text-align: center;
  vertical-align: center;
  font-weight: 700;
  background-color: $green;
  position: fixed;
  border-radius: 50%;
  justify-content: center;
  display: flex;
  padding-top: 7px;
  left: 20px;
  bottom: 20px;
  border: 1px solid rgba(0, 0, 0, 0.2);
}

.tag {
  background-color: $green;
  color: white;
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding: 1px 5px;
  font-size: 12.5px;
  border-radius: 25px;
}

.subtitle {
  font-size: 12px;
  color: $grey;
  margin-top: 5px;

  a {
    color: inherit;
    text-decoration: underline;
    cursor: pointer;

    &:hover {
      color: $grey-hover;
    }
  }
}

input[type="number"] {
  -webkit-appearance: none;
  margin: 0;
  -moz-appearance: textfield;
}